.footer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-1 {
    display: flex;
    align-items: center;
}

.email {
    margin-right: 20px;
}

.address {
    margin-left: 20px;
}