.footer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-1 {
    display: flex;
    align-items: center;
}

.email {
    margin-right: 20px;
}

.otherAddress {
    width: 40%;
    display: flex;
    justify-self: center;
    margin: 25px auto;
}

.github-mark, .gitee-mark, .wechat, .home {
    width: 50px;
    height: 50px;
}

.github, .gitee, .weixin, .homeAddress {
    margin: 0 auto;
}

.weixin {
    position: relative;
}

.weixin::after{
    content: "";
    background-image: url(../../img/wechat.jpg);
    background-size: 150px 150px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99;
    width:150px;
    height: 150px;
    border: 5px solid #0095ba;
    border-radius: 4px;
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .weixin:hover::after{
    transform:scale(1);
    opacity: 1;
  }