.ability-expansion {
    position: relative;
    display: flex;
    float: right;
    right: 10px;
}

#icon {
    margin: 0;
    width: 28px;
    height: 28px;
    z-index: 0;
}

#text1 {
    margin: 0;
    z-index: 0;
}

/* 隐藏内容 */
.hidden {
    z-index: 1;
    display: none;
}

/* 显示内容 */
.visible {
    display: block;
}

/* 关闭按钮样式 */
.close {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#hidden-content {
    border: 3px solid #FEB98D;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 42%;
    right: 20px;
    width: 450px;
    height: 400px;
    background-color: white;
}

#hidden-title {
    display: flex;
    position: relative;
    justify-content: center;
}