.resume {
    width: 700px;
    margin: 0 auto;
    margin-top: 4%;
    border:  1px solid #5C79DC;
    border-width: 30px 10px 5px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: #fff;
}

.too-small {
    display: none;
}


@media screen and (max-width: 600px) {
    .too-small {
        display: block;
    }

    .resume {
        display: none;
    }
}