@media only screen and (min-width: 881px) {

/* 隐藏除了 h1 元素以外的所有元素 */
body > *:not(.todo1) {
    display: none;
}

}

@media only screen and (min-width: 770px) and (max-width: 880px) {
    .todo1, .todo2 {
        visibility: hidden;
    }
    
    body {
        margin: 0;
        padding: 0;
        height: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF5F5;
        border-top: 24px solid #6495ED;
        border-left: 12px solid #6495ED;
        border-right: 12px solid #6495ED;
        font-family: Arial, sans-serif;
    }

    p, ol, ul {
        line-height: 1.5em;
    }

    .header {
        position: absolute;
        top: 24px;
        background-color: #6495ED;
        border-left: 100px solid  #6495ED;
        border-right: 100px solid  #6495ED;
        border-bottom: 40px solid #6495ED;
        z-index: 0;
    }

    .resume {
        position: absolute;
        top: 16px;
        color: #FFF5F5; 
        text-align: center; 
        font-size: 32px;
        z-index: 1;
    }

    .triangle {
        position: absolute;
    }

    .triangle.left {
        right: 86px;;
        border-right: 15px solid transparent; /* 左侧直角边 */
        border-top: 40px solid #FFF5F5; /* 底部直角边 */
    }

    .triangle.right {
        left: 86px;
        border-left: 15px solid transparent; /* 左侧直角边 */
        border-bottom: 40px solid #FFF5F5; /* 底部直角边 */
    }

    .header-left {
        position: absolute;
        top: 30px;
        left: calc(50% - 140px); /* 将左边距设置为中间位置左边的 100px */
        background-color: #eaa646;
        border-left: 15px solid  #eaa646;
        border-right: 15px solid  #eaa646;
        border-bottom: 25px solid #eaa646;
    }

    .triangle.left1 {
        right: 5px;
        border-right: 15px solid transparent; /* 左侧直角边 */
        border-top: 40px solid #FFF5F5; /* 底部直角边 */
    }

    .triangle.right1 {
        left: 0px;
        border-left: 15px solid transparent; /* 左侧直角边 */
        border-bottom: 40px solid #FFF5F5; /* 底部直角边 */
    }

    .header-right {
        position: absolute;
        top: 30px;
        left: calc(50% + 110px); /* 将左边距设置为中间位置左边的 100px */
        background-color: #eaa646;
        border-left: 15px solid  #eaa646;
        border-right: 15px solid  #eaa646;
        border-bottom: 25px solid #eaa646;
    }

    .triangle.left2 {
        right: 5px;
        border-right: 15px solid transparent; /* 左侧直角边 */
        border-top: 40px solid #FFF5F5; /* 底部直角边 */
    }

    .triangle.right2 {
        left: 0px;
        border-left: 15px solid transparent; /* 左侧直角边 */
        border-bottom: 40px solid #FFF5F5; /* 底部直角边 */
    }

    .basicInfo {
        display: flex;
        position: absolute;
        top: 80px;
        /* padding: 0 275px 0 0px; */
        left: 45px;
    }

    .myName {
        margin: 0; 
        font-size: 40px;
    }

    .jobIdea {
        position: relative;
        margin: 0;
        top: 28px;
        margin-left: 20px;
    }

    .myPhoto {
        position: absolute;
        top: 80px;
        /* padding: 0px 0px 0px 600px; */
        right: 40px;
    }

    .photoBG {
        position: relative;
        top: 7px;
        padding: 71px 57px 85px 60px;
        background-color: #6495ED;
        z-index: 0;
    }

    .photo {
        max-width: 100%;
        max-height: 100%;
    }

    img {
        position: absolute;
        z-index: 1;
    }

    .baseInfo {
        position: absolute;
        top: 90px;

    }

    .content {
        position: absolute;
        top: 0px;
        left: 45px;
    }

    .education {
        position: relative;
        top: 245px;
    }

    .ability {
        position: relative;
        top: 260px;
    }

    #ability_content {
        margin: 5px 0 0 0;
    } 

    .project {
        position: relative;
        top: 270px;
    }

    #project_content1, #project_content2{
        margin: 5px 0 0 0;
    }

    #project_content3{
        margin: 5px 0 0 0;
        text-indent: 2.5em;
    }
    
    .practice {
        position: relative;
        top: 280px;
    }

    .awards {
        position: relative;
        top: 280px;
    }

    .self-evaluation {
        position: relative;
        top: 280px;
    }

    #text1 , #text2 , #text3, #text4, #text5, #text6{
        display: flex;
        position: relative;
        left: 20px;
        width: 155px;
        height: 40px;
        background-color: #6495ED;
        border-left: 0px solid  #6495ED;
        border-right: 0px solid  #6495ED;
        border-bottom: 0px solid #6495ED;
        z-index: 0;
    }

    .subheading {
        position: absolute;
        color: #FFF5F5; 
        text-align: center; 
        align-items: center;
        font-size: 15px;
        z-index: 1;
    }

    .subheading-san-left {
        position: relative;
        left: 0px;
        width: 5px;
        border-right: 20px solid transparent; 
        border-top: 40px solid #FFF5F5; 
    }

    .subheading-san-right {
        position: relative;
        left: 105px;
        width: 5px;
        border-left: 20px solid transparent; 
        border-bottom: 40px solid #FFF5F5; 

    }

    .px-left {
        position: absolute;
        top: 8px;
        left: calc(50% - 340px); /* 将左边距设置为中间位置左边的 100px */
        background-color: #eaa646;
        border-left: 13px solid  #eaa646;
        border-right: 13px solid  #eaa646;
        border-bottom: 20px solid #eaa646;
    }

    .px-right {
        position: absolute;
        top: 8px;
        left: calc(50% - 178px); /* 将左边距设置为中间位置左边的 100px */
        background-color: #eaa646;
        border-left: 13px solid  #eaa646;
        border-right: 13px solid  #eaa646;
        border-bottom: 20px solid #eaa646;
    }

    .px-sjx-left {
        position: absolute;
        right: 4px;
        border-right: 9px solid transparent; 
        border-top: 20px solid #FFF5F5; 
    }

    .px-sjx-right{
        position: absolute;
        left: 4px;
        border-left: 9px solid transparent; 
        border-bottom: 20px solid #FFF5F5; 
    }

}

@media only screen and (max-width: 669px) {

    /* 隐藏除了 h1 元素以外的所有元素 */
    body > *:not(.todo2) {
        display: none;
    }
}